<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Soundcloud Scrapper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./saved">Saved</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-warning scrape-new" href="#">Scrape new album</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div calss="background-image"></div>
</div>

<div class="container-fluid album-container">
</div>

<footer class="footer text-center">Soundcloud Mongo Scrappe</footer>

<script src="../public/assets/javascript/index.js"></script>
 <link rel="stylesheet" href="../public/assets/css/style.css">